<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="is" lang="is">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>BookIceland</title>

	<link href="/template/css/screen.css" type="text/css" rel="stylesheet" media="screen" />


</head>
<body>
<div class="bodywrap">
	
	<div class="pageheader">
		<a href="/" title="www.bookiceland.is"><img class="sitelogo" src="/template/img/sitelogo.gif" alt="www.bookiceland.is" title="bookiceland (logo)"></a>
	</div>
	
<span class="imgbanner"><img src="/template/myndir/banner.jpg" alt="BookIceland" /></span>

	<div class="pagebody">
			
		<div class="articlelist box">
			<!-- TemplateBeginEditable name="ContentHeader" --> ContentHeader <!-- TemplateEndEditable -->
			<div class="content">
			<!-- TemplateBeginEditable name="Content" --> Content <!-- TemplateEndEditable -->
				

			</div>
		</div>
		
		<div class="clear"> </div>
	</div>
		
	<div class="pageextra1">
		<div class="mnav">
			<h2 class="boxhd">Leiðarkerfi</h2>
			<div class="content">
				
			<!-- TemplateBeginEditable name="Links" --> Links <!-- TemplateEndEditable -->
				
			</div>
		</div>
		
			<!-- TemplateBeginEditable name="LeftMenu" --> LeftMenu <!-- TemplateEndEditable -->
<div  class="box"><h2  class="boxhd" >Site Information</h2><div  class="content"><a  href="http://localhost/?ib_page=112&iw_language=en" class="site_link" >Site Map</a><br /><a  href="http://localhost/?ib_page=113&iw_language=en" class="site_link" >Terms and Conditions</a></div>
</div>
		
		<div class="clear"> </div>	
	</div>

<div class="clear"> </div>	
</div>
</body>
</html>