<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="is" lang="is">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>BookIceland</title>

	<link href="css/screen.css" type="text/css" rel="stylesheet" media="screen" />


</head>
<body class="threecols">
<div class="bodywrap">
	
<div class="pageheader">
	<a href="/" title="www.bookiceland.is"><img class="sitelogo" src="img/sitelogo.gif" alt="www.bookiceland.is" title="bookiceland (logo)"></a>
</div>
	
<span class="imgbanner"><img src="myndir/banner.jpg" alt="BookIceland" /></span>

<div class="pagebody">
      <img src="myndir/pb-mynd.jpg" />   			
	<div class="articlelist box">
		<h2 class="boxhd">Fréttir</h2>
		<div class="content">
				
			<div class="item">
				<img src="myndir/house.jpg">
				<h3>Airwaves is around the corner </h3>
				<p class="summary">
					<span class="meta">22.02.05</span>
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet	
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet	
				</p>
			</div>
			
			<div class="item">
				<img src="myndir/house.jpg">
				<h3>Airwaves is around the corner </h3>
				<p class="summary">
					<span class="meta">22.02.05</span>
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet	
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet	
				</p>
			</div>
			
			<div class="item">
				<img src="myndir/house.jpg">
				<h3>Airwaves is around the corner </h3>
				<p class="summary">
					<span class="meta">22.02.05</span>
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet	
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet
					Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet	
				</p>
			</div>

		</div>
	</div>

	<div class="clear">&nbsp;</div>
</div>
		
<div class="pageextra1">
	<div class="mnav">
		<h2 class="boxhd">Leiðarkerfi</h2>
		<div class="content">
				
			<ul>
				<li><a href="fleebah.html">Air</a></li>
				<li class="current"><a href="fleebah.html">Accomodation</a></li>
				<li><a href="fleebah.html">Air</a></li>
				<li><a href="fleebah.html">Air</a></li>
			</ul>
				
		</div>
	</div>
		<div  class="bookingform box">
		<h2  class="boxhd" >Book online</h2>
		<div  class="content">
			<form  onsubmit="showLoadingLayer()" method="post">
				<p  class="fi fi_search" >
					<label  id="id31869499" >Search for</label>
					<select name="sbs_prm_f"  onchange="this.form.submit()" id="id33039820" >
					<option  selected="selected" value="travel.iwtt_accommodation" id="id7971648" >Accommodation</option>
					<option  value="travel.iwtt_tour" id="id30195454" >Tour</option>
					</select>
				</p>
			</form>

			<form  onsubmit="showLoadingLayer()" action="/servlet/IBMainServlet/?ib_page=42" method="post" id="id1282693" >
				<fieldset>
				<p  class="fi fi_location" >
					<label  id="id21201606" >Location</label>
					<select name="sb_pc"  id="id20885102" >
					<option  value="101-999" id="id3005516" >Iceland</option>
					<option  value="101-104" id="id14300405" >City Center</option>
					<option  selected="selected" value="101-235" id="id30081507" >Reykjavik Area</option>
					<option  value="300-399" id="id15266430" >West Iceland</option>
					<option  value="400-499" id="id25702057" >West Fjords</option>
					<option  value="500-699" id="id28276942" >North Iceland</option>
					<option  value="700-799" id="id19151089" >East Iceland</option>
					<option  value="800-899" id="id18253834" >South Iceland</option>
					<option  value="900-998" id="id4018505" >Westman Islands</option>
					</select>
				</p>
				</fieldset>
				
				<fieldset>
				<p  class="fi fi_date" >
         <label  id="id27508725" >Check in</label>
         <select name="bookingFromDate_day"  onchange="iwSetValueOfHiddenDateWithAllInputs(this.form.bookingFromDate_year,this.form.bookingFromDate_month,this.form.bookingFromDate_day,this.form.bookingFromDate);" id="id16460484" >
         <option  value="00" id="id18289675" >D</option>
         <option  value="01" id="id2426295" >1</option>
         <option  value="02" id="id10110193" >2</option>
         <option  value="03" id="id2379636" >3</option>
         <option  value="04" id="id31214809" >4</option>

         <option  selected="selected" value="05" id="id3751575" >5</option>
         <option  value="06" id="id3945427" >6</option>
         <option  value="07" id="id7237927" >7</option>
         <option  value="08" id="id13023408" >8</option>
         <option  value="09" id="id8862623" >9</option>
         <option  value="10" id="id5992474" >10</option>
         <option  value="11" id="id18669586" >11</option>
         <option  value="12" id="id12252334" >12</option>
         <option  value="13" id="id1435277" >13</option>

         <option  value="14" id="id30630716" >14</option>
         <option  value="15" id="id18362751" >15</option>
         <option  value="16" id="id22649035" >16</option>
         <option  value="17" id="id20868995" >17</option>
         <option  value="18" id="id724058" >18</option>
         <option  value="19" id="id22545518" >19</option>
         <option  value="20" id="id25876896" >20</option>
         <option  value="21" id="id14009939" >21</option>
         <option  value="22" id="id13611295" >22</option>

         <option  value="23" id="id24475641" >23</option>
         <option  value="24" id="id18323943" >24</option>
         <option  value="25" id="id7943490" >25</option>
         <option  value="26" id="id26708884" >26</option>
         <option  value="27" id="id5036744" >27</option>
         <option  value="28" id="id28288134" >28</option>
         <option  value="29" id="id5933694" >29</option>
         <option  value="30" id="id3823725" >30</option>
         <option  value="31" id="id8619854" >31</option>
         </select>
					<select name="bookingFromDate_month"  onchange="iwPopulateDaysWithYear(this.form.bookingFromDate_year,this,this.form.bookingFromDate_day,'D');iwSetValueOfHiddenDateWithAllInputs(this.form.bookingFromDate_year,this.form.bookingFromDate_month,this.form.bookingFromDate_day,this.form.bookingFromDate);" id="id28628601" >
         <option  value="00" id="id28248823" >M</option>
         <option  value="01" id="id16321306" >Jan</option>
         <option  value="02" id="id4713196" >Feb</option>
         <option  value="03" id="id26237506" >Mar</option>
         <option  value="04" id="id1423192" >Apr</option>
         <option  value="05" id="id28847865" >May</option>
         <option  value="06" id="id18080625" >Jun</option>
         <option  value="07" id="id12141980" >Jul</option>

         <option  value="08" id="id25760114" >Aug</option>
         <option  selected="selected" value="09" id="id30960050" >Sep</option>
         <option  value="10" id="id16990133" >Oct</option>
         <option  value="11" id="id4958072" >Nov</option>
         <option  value="12" id="id14673041" >Dec</option>
         </select>
					<select name="bookingFromDate_year"  onchange="iwPopulateDaysWithYear(this,this.form.bookingFromDate_month,this.form.bookingFromDate_day,'D');iwSetValueOfHiddenDateWithAllInputs(this.form.bookingFromDate_year,this.form.bookingFromDate_month,this.form.bookingFromDate_day,this.form.bookingFromDate);" id="id23897045" >
         <option  value="YY" id="id30013691" >Y</option>
         <option  selected="selected" value="2005" id="id16329928" >2005</option>
         <option  value="2006" id="id15416452" >2006</option>

         <option  value="2007" id="id30545452" >2007</option>
         <option  value="2008" id="id28167864" >2008</option>
         <option  value="2009" id="id31374579" >2009</option>
         <option  value="2010" id="id4657709" >2010</option>
         </select>
				</p>
				
				<p class="fi fi_date" >
         <label  id="id7196638" >Check out</label>
         <select name="bookingToDate_day"  onchange="iwSetValueOfHiddenDateWithAllInputs(this.form.bookingToDate_year,this.form.bookingToDate_month,this.form.bookingToDate_day,this.form.bookingToDate);" id="id9668715" >

         <option  value="00" id="id5938286" >D</option>
         <option  value="01" id="id13902059" >1</option>
         <option  value="02" id="id12406210" >2</option>
         <option  value="03" id="id3934007" >3</option>
         <option  value="04" id="id16638032" >4</option>
         <option  value="05" id="id26336541" >5</option>
         <option  selected="selected" value="06" id="id21744361" >6</option>
         <option  value="07" id="id16158948" >7</option>
         <option  value="08" id="id27432016" >8</option>

         <option  value="09" id="id11998234" >9</option>
         <option  value="10" id="id25745710" >10</option>
         <option  value="11" id="id23747531" >11</option>
         <option  value="12" id="id28347635" >12</option>
         <option  value="13" id="id32888473" >13</option>
         <option  value="14" id="id14415773" >14</option>
         <option  value="15" id="id22902610" >15</option>
         <option  value="16" id="id21290107" >16</option>
         <option  value="17" id="id31931917" >17</option>

         <option  value="18" id="id10144386" >18</option>
         <option  value="19" id="id6628690" >19</option>
         <option  value="20" id="id7683106" >20</option>
         <option  value="21" id="id12512205" >21</option>
         <option  value="22" id="id7008653" >22</option>
         <option  value="23" id="id18379432" >23</option>
         <option  value="24" id="id1026431" >24</option>
         <option  value="25" id="id4256705" >25</option>
         <option  value="26" id="id4404549" >26</option>

         <option  value="27" id="id6187539" >27</option>
         <option  value="28" id="id8790081" >28</option>
         <option  value="29" id="id28286236" >29</option>
         <option  value="30" id="id7578460" >30</option>
         <option  value="31" id="id32122282" >31</option>
         </select>
				<select name="bookingToDate_month"  onchange="iwPopulateDaysWithYear(this.form.bookingToDate_year,this,this.form.bookingToDate_day,'D');iwSetValueOfHiddenDateWithAllInputs(this.form.bookingToDate_year,this.form.bookingToDate_month,this.form.bookingToDate_day,this.form.bookingToDate);" id="id31534387" >
         <option  value="00" id="id3104974" >M</option>
         <option  value="01" id="id8157332" >Jan</option>
         <option  value="02" id="id30436610" >Feb</option>

         <option  value="03" id="id10796546" >Mar</option>
         <option  value="04" id="id28743023" >Apr</option>
         <option  value="05" id="id836584" >May</option>
         <option  value="06" id="id1170003" >Jun</option>
         <option  value="07" id="id1344853" >Jul</option>
         <option  value="08" id="id20825301" >Aug</option>
         <option  selected="selected" value="09" id="id4557291" >Sep</option>
         <option  value="10" id="id23191280" >Oct</option>
         <option  value="11" id="id7561029" >Nov</option>

         <option  value="12" id="id7588881" >Dec</option>
         </select>
				 <select name="bookingToDate_year"  onchange="iwPopulateDaysWithYear(this,this.form.bookingToDate_month,this.form.bookingToDate_day,'D');iwSetValueOfHiddenDateWithAllInputs(this.form.bookingToDate_year,this.form.bookingToDate_month,this.form.bookingToDate_day,this.form.bookingToDate);" id="id6190691" >
         <option  value="YY" id="id30169840" >Y</option>
         <option  selected="selected" value="2005" id="id23484941" >2005</option>
         <option  value="2006" id="id10628620" >2006</option>
         <option  value="2007" id="id24990118" >2007</option>
         <option  value="2008" id="id8096743" >2008</option>
         <option  value="2009" id="id18749459" >2009</option>
         <option  value="2010" id="id12489536" >2010</option>

         </select>
				</p>		
				</fieldset>

				<fieldset>
				<p  class="fi">
         <label  id="id33275" >Room type</label>
         <select name="hb_rt"  id="id28024236" >
         <option  value="1" id="id33339461" >Single Room</option>
         <option  value="2" id="id10877339" >Double Room</option>
         <option  value="3" id="id10892697" >Triple Room</option>
         <option  value="4" id="id590702" >Sleeping bag</option>

         <option  value="8" id="id29383158" >Suite</option>
         <option  value="9" id="id22171758" >Studio</option>
         </select></p>
         <p  class="fi" >
         <label  id="id18785276" >Minimum rating</label>
         <select name="hb_mir"  id="id10484504" >
         <option  value="-1" id="id18737428" >Any</option>
         <option  value="1" id="id11616363" >1</option>
         <option  value="2" id="id16536584" >2</option>
         <option  value="3" id="id32572097" >3</option>

         <option  value="4" id="id32244016" >4</option>
         <option  value="5" id="id21106666" >5</option>
         </select>
				</p>
				
				<p  class="fi" >
	       <label  id="id2296804" >Maximum rating</label>
 	       <select name="hb_mar"  id="id14804327" >
 	       <option  value="-1" id="id10223330" >Any</option>
 	       <option  value="1" id="id24817388" >1</option>
 	       <option  value="2" id="id24255014" >2</option>
 	       <option  value="3" id="id1235836" >3</option>	
         <option  value="4" id="id508556" >4</option>
     	   <option  value="5" id="id24479957" >5</option>
     	   </select>
				</p>
				
				<p  class="fi" >
         <label  id="id23755929" >Accommodation type</label>
         <select name="hb_pat"  id="id730993" >
         <option  selected="selected" value="-1" id="id20578407" >Any type</option>
         <option  value="1" id="id25707951" >Hotel</option>
         <option  value="2" id="id27825828" >Guesthouse</option>
         </select>
				</p>
				
				<p  class="fi fi_btn" >
					<input type="submit" class="submit" name="subid27700281"  value="search" id="id27700281" />
				</p>

				<p  class="fi fi_btn" >
					<input type="reset" class="reset" name="subid27700281"  value="reset" id="id27700281" />
				</p>

				</fieldset>
		</form>
		</div>
	</div>
	
	<div  class="calc box">
		<h2  class="boxhd" >Currency Calculator</h2>
		<div  class="content">
			<form>
				<p class="fi">
					<label for="from">From</label><select><option>isk</option></select>
				</p>
				
				<p class="fi">
					<label for="to">From</label><select><option>gbp</option></select>
				</p>

				<p class="fi fi_price">
					<label for="price">Price</label><input type="text" id="to" />
				</p>

				<p class="fi fi_btn">
					<input type="submit" value="Calculate" />
				</p>
				
				<p>bla bla bla bla </p>

			</form>
		</div>
	</div>
		
	<div class="clear">&nbsp;</div>	
</div>

<div class="pageextra2">
	<div class="weather box">
		<h2 class="boxhd">Weather</h2>
		<div class="content">
			53.2F<br />
			8 m/s E
			<form>
				<p class="fi"><label for="place">Staður:</label><select id="place"><option>Reykjavík</option></select></p>
			</form>
		</div>
	</div>

<div class="article box">
		<h2 class="boxhd">Jeep Safari</h2>
		<div class="content">
			<img src="myndir/dummyimg.jpg" />
			Texti
		</div>
	</div>

<div class="iceland box">
		<h2 class="boxhd">Iceland</h2>
		<div class="content">
			<img src="myndir/map.jpg" />
		</div>
	</div>


	<div class="clear">&nbsp;</div>	
</div>

<div class="clear">&nbsp;</div>	
</div>
</body>
</html>